/* General styles */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Top bar styles */

.top-bar {
  background-color: #333;
  color: #fff;
  position: relative; /* use position relative */
  height: 50px;
  padding: 0 20px;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background: none;
  border: none;
}

.nav-btn svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
}

.nav-btn:hover svg {
  fill: #ccc;
}

.user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50%;
}

.user-btn svg {
  fill: #333;
  width: 20px;
  height: 20px;
}

.logo {
  font-size: 24px;
  text-align: center; /* center horizontally */
  position: absolute; /* use position absolute */
  top: 50%; /* position vertically at the center */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%); /* use transform to center */
}

.green {
  color: green;
}

/* Side navigation styles */

.side-nav {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #fff;
  color: #333;
  transition: 0.5s;
}

.side-nav button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.side-nav li {
  margin: 10px 0;
}

.side-nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  background-color: #f2f2f2;
  padding: 10px;
  display: block;
}

/* Content styles */

.content {
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

p {
  font-size: 18px;
}