/* General styles */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Top bar styles */

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-btn {
  margin-right: 10px;
}

.user-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  color: #8bc34a;
}

/* Side navigation styles */

.side-nav {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;
  background-color: #f2f2f2;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.close-nav {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .nav-btn {
    display: block;
    margin: 10px;
  }
  
  .logo {
    font-size: 18px;
  }
  
  .user-btn {
    display: none;
  }
  
  .side-nav {
    width: 100%;
    left: -100%;
  }
  
  .close-nav {
    margin-left: 10px;
  }
}
